{% load staticfiles %}
<!DOCTYPE html> 
<html>
<head>
    <title>日記詳細ページ</title>
    <meta charset="utf-8" >
    <link rel="stylesheet" href="{% static 'style.css' %}" >
</head>
<body>

<h1>日記の詳細</h1>
<p>
    {{diary.title}}
</p>
<a href="" >変更へ</a>
<br />
<a href="{% url 'index' %}" >一覧へ</a>

</body>
</html>
    