{% load staticfiles %}
<!DOCTYPE html> 
<html>
<head>
    <title>日記一覧ページ</title>
    <meta charset="utf-8" >
    <link rel="stylesheet" href="{% static 'style.css' %}" >
</head>
<body>
<h1>日記の一覧</h1>
<br />
<table>
    {% for diary in diaries %}
    <tr>
        <td><a class="show" href="#">{{ diary.title }}</a></td>
        <td><a class="edit" href="#">変更</a></td>
        <td><a class="delete" href="#"> 削除</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
    